.main {
    width: 100%;
    height: 88vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    position: relative;
    top: 0;
    left: 0;
    background-color: RGB(22, 91, 213);
}
.main .text_box {
    color: white;
    margin-top: -30px;
    width: 100%;
}
.main .text_box h1{
    font-family:'Poppins', sans-serif ;
    font-style : normal;
    font-weight:900;
    font-size: 46px;
    line-height: 60px;

}
.main .text_box p {
    font-size: 17px;
    margin: 30px 0;
    color: rgb(219, 203, 203);
}
.main .text_box .main_button {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 2rem;
    border-radius: 5px;
    text-decoration: none;
}
.main .main_button button {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    padding: 12px 24px;
    border-radius: 4px;
    border: none;
    color: RGB(22, 91, 213);

}
.main_button .span {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
}
.main_button h3 {
    font-size: 24px;
}
.main .img_box{
    width: 100%;
}

.main .img_box img {
    width: 100%;
    border-radius: 18px;
}
